DATABASE_URL=
APP_BASE_URL=
SESSION_COOKIE_NAME=
SEED_PASSWORD=
SEED_CONFIRMATION=
APP_MODE=
AI_PROVIDER=
ALLOW_MOCK_AI=
OLLAMA_BASE_URL=
OLLAMA_CHAT_MODEL=
OLLAMA_EMBEDDING_MODEL=
OLLAMA_EMBEDDING_DIMENSIONS=
LOCAL_STORAGE_ROOT=
EMAIL_PROVIDER=
